@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

.img-overlay {
    z-index: 2;
    position: relative;
    top:-8%;
}

@media (min-width: 420px) {
    .img-overlay {
        top:20%;
    }
    .logo-container {
        max-width:100%;
    }
    .logo-img {
        max-width:25%;
        height:auto;
        object-fit: contain;
    }
}