@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

.img-overlay {
    z-index: 2;
    position: relative;
    top:-8%;
}

.ras-poster {
    height: 100%;
    display: block;
}

@media (min-width: 420px) {
    .img-overlay {
        top:20%;
    }
    .logo-container {
        max-width:100%;
    }
    .logo-img {
        max-width:25%;
        height:auto;
        object-fit: contain;
    }
}

@media (min-width: 1280px) {
    .ras-poster {
        position: fixed;
        right: 0;
        top: 0;
    }
}